body {
  background-color: rgb(255, 255, 255);
  font-family: helvetica;
  color: rgb(0, 0, 0);
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly
}

.future-tile {
  border-style: solid;
  border-color: black;
  height: 30vh;
  width: 20vh;
}

.titles {
  display: flex;
  justify-content: space-around;
}
.weather-tile {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  justify-content: center;
  height: 20vh;
  width: 60vh;

}

/* css still not loading correctly; seems to be a webpack.config issue */