body {
  background-color: lightgray;
  font-family: helvetica;
  color: rgb(0, 0, 0);
  text-align: center;
}

.weather-header{
  display: flex;
  justify-content: space-around;
}

img {
  align-self: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 3;
  flex-wrap: wrap
}

.future-tile {
  border-style: solid;
  border-color: rgb(77, 77, 77);
  background-color: rgb(189, 189, 189);
  height: 30vh;
  width: 20vh;
  border-radius: 30px
}

.titles {
  display: flex;
  justify-content: space-around;
}

.weather-tile {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(77, 77, 77);
  background-color: rgb(189, 189, 189);
  padding: 10px;
  justify-content: center;
  height: 20vh;
  width: 60vh;
  border-radius: 30px

}

input {
  text-transform: capitalize;
}

/* css still not loading correctly; seems to be a webpack.config issue */